.scrap_header {
    padding: 10px 20px;
    cursor: pointer;
    color: #424242;
    font-family: 'AppleSDGothicNeo-Regular';
    font-size: 15px;
    .bt_checkbox_checked {
        width: 24px;
        height: 24px;
        object-fit: contain;
        margin-right: 6px;
    }
}
