@import 'utilities/variables';
@import 'utilities/mixins';

@import 'components/feedCard';
@import 'components/scrapFilter';

@import 'pages/feed';

@import 'themes/font';

*:focus {
    outline: none;
}
ul {
    list-style: none;
}
.root-container {
    background-color: white;
}
#root {
    background-color: white;
}
